@font-face {
  font-family: 'MyWebFont';
  src: 
    url('myfont2.woff') format('woff2'), /* Chrome 26+, Opera 23+ */
    url('myfont.woff') format('woff');
}

body {
  // this is a comment
  font-family: Foo;
  background: #f00;

  h1 {
    margin-left: 0;
    background: rgba(0,0,0,0.15);

    &:hover {
      background: red;
    }

    @include mixin(foo, 50%);

    whatever: whatever
  }
}

@import "whatever";
@import $yes;

@mixin button($colour, $text:#111, $height:18px) {
  display: inline-block;
  border-color: mix(lighten($colour, 20%), rgba(0, 0, 0, 0.1), 75%) rgba(0, 0, 0, 0.1) darken($colour, 10%);
}

.btn {
  @include button(#ccc);
}
